.container-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255,255,255,0.6);
    max-width: 540px;
    padding: 16px;
    margin-bottom: 100px;
}